@import '../../shared/global/utils/mixins';
@import '../../shared/global/globalStyles/globalStyles.scss';
@import '../../shared/global/utils/vars';
@import '../../shared/global/utils/fonts';

.backbutton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;

  &:hover .backbutton__text::after {
    width: 100%;
  }
}

.backbutton__text {
  margin-left: 8px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1.5px;
    background-color: $accent-color;
    transition: width 0.3s ease;
  }
}
